@use '../../../../../styles/abstracts/variables' as vars;

.search-input-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    box-shadow: 0 30px 30px -15px rgba(0, 0, 0, 0.21);
    background-color: white;
    padding: 0 vars.$spacing-x4;

    &.disabled {
        filter: saturate(0);
        opacity: 0.62;
        pointer-events: none;
    }

    > input {
        margin-inline-start: vars.$spacing-x4;
        flex-grow: 1;
        min-width: 1px;
        padding: 0;
        border: none;
        outline: none;
        font-size: 18px;
        text-align: center;
        color: vars.$app-text-color-standard;

        &::placeholder {
            color: vars.$app-text-color-light;
            opacity: 1;
        }
    }
}
