@use '../../../../styles/abstracts/variables' as vars;
@use '../../../../styles/abstracts/mixins' as mxns;
@use '../../../../styles/abstracts/placeholders/typography' as *;

.last-draw-results-container {
    background-color: #e8f2eb;
}

.last-draw-results {
    max-width: 640px;
}

.last-draw-results-logo {
    height: 82px;
}

.last-draw-results-table {
    @extend %font-size-2;

    font-family: 'Lexend', sans-serif;
    font-weight: 600;

    > table {
        margin: 0 auto;
        width: 100%;

        thead {
            display: none;

            @include mxns.md {
                display: table-header-group;
            }
        }

        tr {
            display: flex;
            flex-wrap: wrap;
            border-top: 1px solid #d8d8d8;
            padding: vars.$spacing-x8 0;
            gap: vars.$spacing-x4 vars.$spacing-x8;

            @include mxns.md {
                display: table-row;
                border-top: none;
            }

            th {
                @extend %font-size-1;
                font-weight: normal;
                color: #747474;
                text-align: center;
                padding: vars.$spacing-x4;

                &:nth-child(3) {
                    max-width: 200px;
                }
            }

            td {
                @extend %font-size-2;

                flex: 1 1 calc(50% - #{vars.$spacing-x4});
                text-align: center;

                @include mxns.md {
                    padding: $spacing-x2;
                }

                &:last-child {
                    flex: 1 1 100%;
                    text-align: center;
                    color: vars.$app-color-green;
                }

                &:before {
                    @extend %font-size-1;

                    display: block;
                    color: #747474;
                    content: attr(data-heading);

                    @include mxns.md {
                        content: unset;
                        display: none;
                    }
                }
            }
        }
    }
}
