@use '../../../../styles/abstracts/variables' as vars;
@use '../../../../styles/abstracts/mixins' as mxns;
@use '../../../../styles/abstracts/placeholders/typography' as *;

.last-draw-results-container {
    background-color: #e8f2eb;
}

.last-draw-results {
    max-width: 640px;
}

.last-draw-results-logo {
    height: 82px;
}

.last-draw-results-table {
    margin-top: vars.$spacing-x8;

    @include mxns.md {
        margin-top: vars.$spacing-x4;
    }

    > table {
        margin: 0 auto;
        width: 100%;

        thead {
            display: none;

            @include mxns.md {
                display: table-header-group;
            }
        }

        thead, td:before {
            @extend %heading;
        }

        tbody {
            font-size: 1.25rem;
            line-height: 3rem;

            @include mxns.md{
                line-height: 2.5rem;
            }
        }

        tr {
            display: flex;
            flex-wrap: wrap;
            border-top: 1px solid #d8d8d8;
            padding: vars.$spacing-x8 0 vars.$spacing-x6;
            gap: vars.$spacing-x2 vars.$spacing-x8;

            @include mxns.md {
                display: table-row;
                border-top: none;
            }

            th {
                line-height: 2.25rem;
                font-weight: 600;
                color: #747474;
                text-align: center;
                padding-bottom: vars.$spacing-x3;

                &:nth-child(3) {
                    max-width: 200px;
                }
            }

            td {
                flex: 1 1 calc(50% - #{vars.$spacing-x4});
                text-align: center;

                &:last-child {
                    flex: 1 1 100%;
                    text-align: center;
                    color: vars.$app-color-green;
                }

                &:before {
                    @extend %font-size-1;

                    display: block;
                    color: #747474;
                    content: attr(data-heading);

                    @include mxns.md {
                        content: unset;
                        display: none;
                    }
                }

                &[data-heading="Winners"] {
                    font-weight: vars.$font-primary-medium;
                }

                &:not([data-heading="Winners"]) {
                    font-weight: vars.$font-primary-bold;
                }
            }
        }
    }
}
