@use '../../../../styles/variables/colors' as *;
@use '../../../../styles/variables/layout' as *;

.last-draw-results-container {
    background-color: #e8f2eb;

    .last-draw-results {
        max-width: 640px;
    }
}

.last-draw-results-table {
    > table {
        margin: 0 auto;
        width: 100%;

        tr {
            th {
                font-size: 20px;
                font-weight: normal;
                color: #747474;
                text-align: center;
                padding: $spacing-x4;

                &:nth-child(3) {
                    max-width: 200px;
                }
            }

            td {
                text-align: center;
                font-size: 24px;
                color: #404040;
                padding: $spacing-x2;

                &:nth-child(3) {
                    color: $app-color-green;
                    text-align: right;
                }
            }
        }
    }
}

.last-draw-results-winning-numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: $spacing-x2;

    > div {
        display: inline-block;
        justify-self: center;
        align-self: center;
    }
}
