@use '../../../../../styles/variables/colors' as *;

.lottery-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #747474;
    cursor: default;

    &.selected {
        background: $app-yellow-green-radial-gradient;
    }

    &:not(.selected):hover {
        background: $app-yellow-green-radial-gradient-hover;
    }
}
