@use '../../../../../styles/abstracts/variables/colors' as *;
@use '../../../../../styles/abstracts/placeholders/typography' as *;

.lottery-number {
    @extend %font-size-2;

    color: #373737;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: default;
    transition: box-shadow .15s;

    &.selected {
        background: $app-yellow-green-radial-gradient-2;
        box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.34);
    }

    @media(hover: hover) {
        &:not(.selected):hover {
            background: $app-yellow-green-radial-gradient-hover;
        }
    }
}
