<div class="container">
    <div class="text-title highlighted">Next Draw</div>

    <div class="margin-top-x8 text-info">
        Proin in finibus libero. Morbi sit amet nulla eu tellus hendrerit auctor et id quam. Sed metus diam, mollis vitae rhoncus vitae, tincidunt at
        dolor. Suspendisse a vulputate massa. Nullam pulvinar et est eu imperdiet.
    </div>

    <div *ngIf="isLoading" class="flex-center margin-top-x12">
        <app-loading-indicator-icon></app-loading-indicator-icon>
    </div>

    <ng-container *ngIf="!isLoading && nextDrawDate">
        <div class="margin-top-x12">
            <div class=" text-title-small">Date of Draw</div>
            <div class="margin-top-x4 text-title highlighted">{{ nextDrawDate | date:'longDate' }}</div>
        </div>

        <div class="margin-top-x12">
            <div class="text-title-small">Time Remaining</div>

            <div class="margin-top-x8">
                <time-remaining [date]="nextDrawDate"></time-remaining>
            </div>
        </div>

        <div class="margin-top-x8 text-info-small">
            *Proin in finibus libero. Morbi sit amet nulla eu tellus hendrerit auctor et id quam. Sed metus diam, mollis vitae rhoncus vitae.
        </div>
    </ng-container>
</div>
