<div class="container">
    <h2 class="text-title font-size-5 highlighted-gradient">Next Draw</h2>

    <div class="margin-top-x8 text-info">
        <p>
            Proin in finibus libero. Morbi sit amet nulla eu tellus hendrerit auctor et id quam. Sed metus diam, mollis vitae rhoncus vitae, tincidunt at
            dolor. Suspendisse a vulputate massa. Nullam pulvinar et est eu imperdiet.
        </p>
    </div>

    <div *ngIf="isLoading" class="flex-center margin-top-x12">
        <app-loading-indicator-icon></app-loading-indicator-icon>
    </div>

    <ng-container *ngIf="!isLoading && nextDrawDate">
        <div class="margin-top-x12">
            <h3 class="text-title-small">Date of Draw</h3>
            <div class="margin-top-x4 text-title highlighted">{{ nextDrawDate | date:'longDate' }}</div>
        </div>

        <div class="margin-top-x12">
            <h3 class="text-title-small">Time Remaining</h3>

            <div class="margin-top-x8">
                <time-remaining [date]="nextDrawDate"></time-remaining>
            </div>
        </div>

        <div class="margin-top-x8 text-info-small">
            <p>*Proin in finibus libero. Morbi sit amet nulla eu tellus hendrerit auctor et id quam. Sed metus diam, mollis vitae rhoncus vitae.</p>
        </div>
    </ng-container>
</div>
