@use '../../../styles/abstracts/variables' as vars;
@use '../../../styles/abstracts/mixins' as mxns;

@use '../../../styles/fonts' as *;

$header-height: vars.$vertical-rhythm * 18;
$header-height-md: vars.$vertical-rhythm * 25;

.header-container {
    position: relative;
    background-color: vars.$app-color-green-light;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 vars.$spacing-x4;
    height: $header-height;
    color: white;

    @include mxns.md {
        height: $header-height-md;
        padding: 0 vars.$spacing-x4;
    }
}

.header__logo {
    cursor: pointer;

    > img {
        max-height: vars.$vertical-rhythm * 11;
    }
}

.header__nav {
    display: flex;
    align-items: center;
    background-color: vars.$app-color-green-light;
    height: 100%;

    @include mxns.md {
        display: flex;
        align-items: center;
    }
}

.header__nav__icon {
    @include mxns.md {
        display: none;
    }
}

.header__nav-links {
    position: absolute;
    top: $header-height;
    right: 0;
    display: flex;
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    background-color: vars.$app-color-green-light;
    width: 100%;
    z-index: vars.$app-header-z-index;
    transition: max-height 0.15s ease-out, opacity 0.3s ease-out;

    &.header__nav-links--visible-on-mobile {
        max-height: 15rem;
        opacity: 1;
    }

    @include mxns.md {
        position: static;
        flex-direction: row;
        top: auto;
        opacity: 1;
        gap: vars.$spacing-x16;
        background-color: transparent;
        max-height: none;
    }

    > a {
        @extend .font-size-1;

        color: white;
        text-decoration: none;
        cursor: pointer;
        font-family: 'Lexend', sans-serif;
        font-weight: 700;
        display: inline-flex;
        min-height: vars.$vertical-rhythm * 13;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #d8d8d8;
        text-align: center;
        width: 100%;
        white-space: nowrap;

        &:hover {
            color: rgb(220, 220, 220);
        }

        @include mxns.md {
            width: auto;
            padding: 0;
            text-align: inherit;
            border-top: none;
            min-height: vars.$vertical-rhythm * 11;
        }
    }
}

.header__nav-links__play-now-button {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    width: 100%;
    padding: vars.$spacing-x4;

    @include mxns.md {
        border: none;
        padding: 0;
    }
}
