@use '../../../styles/variables/colors' as *;
@use '../../../styles/variables/layout' as *;
@use '../../../styles/fonts' as *;

.header {
    background-color: $app-color-green-light;

    .container{
        display: flex;
        padding: 0 $spacing-x4;
        height: $vr-base * 25;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
}


.header-left {
    cursor: pointer;

    > img {
        max-height: $vr-base * 11;
    }
}

.header-right {
    display: flex;
    align-items: center;
    gap: $spacing-x16;

    > a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        @extend .font-size-1;
        font-family: "Lexend";
        font-weight: 700;
        display: inline-flex;
        min-height: $vr-base * 11;
        align-items: center;

        &:hover {
            color: rgb(220, 220, 220);
        }
    }
}

.header-navbar {
    display: flex;
    align-items: center;
    gap: $spacing-x8;
}
