$app-color-bg-light: #f2f2e8;
$app-color-green: #008a23;
$app-color-green-light: #00cc33;
$app-color-green-light-2: #7FE519;
$app-color-yellow: #ffff00;
$app-color-pink: #E600C7;
$app-color-red: #e74c1d;
$app-solana-bg-light: #23ED98;
$app-solana-bg-dark: rgb(31, 1, 68);
$app-solana-bg-dark-2: rgb(17, 0, 38);

$app-yellow-green-radial-gradient: radial-gradient(circle, $app-solana-bg-light, $app-solana-bg-dark);
$app-yellow-green-radial-gradient-2: radial-gradient(circle, $app-solana-bg-light 20%, $app-solana-bg-dark 75%);
$app-yellow-green-radial-gradient-welcome: radial-gradient(ellipse at 100% 50%, $app-solana-bg-light, $app-solana-bg-dark 50%);
$app-yellow-green-radial-gradient-hover: radial-gradient(circle, lighten($app-solana-bg-light, 10%), lighten($app-solana-bg-dark, 10%));

$app-text-color-standard: #747474;
$app-text-color-light: rgba(0, 0, 0, 0.21);
$app-text-color-body: #404040;
