@use '../functions' as fns;

$vertical-rhythm: 0.25rem;

$spacing-x1: $vertical-rhythm * 1;
$spacing-x2: $vertical-rhythm * 2;
$spacing-x4: $vertical-rhythm * 4;
$spacing-x6: $vertical-rhythm * 6;
$spacing-x8: $vertical-rhythm * 8;
$spacing-x12: $vertical-rhythm * 12;
$spacing-x16: $vertical-rhythm * 16;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
);
