<div class="control-progress">
    <div class="text-title highlighted-gradient">Control Progress</div>

    <div class="margin-top-x4 text-info">
        Proin in finibus libero. Morbi sit amet nulla eu tellus hendrerit auctor et id quam. Sed metus diam, mollis vitae rhoncus vitae, tincidunt at
        dolor. Suspendisse a vulputate massa. Nullam pulvinar et est eu imperdiet.
    </div>

    <div *ngIf="drawDate" class="margin-top-x6">
        <div class=" text-title-small">Date of Draw</div>
        <div class="margin-top-x2 text-title highlighted">{{ drawDate | date:'longDate' }}</div>
    </div>

    <div class="margin-top-x6 text-title-small">Current Control Stage</div>

    <div class="margin-top-x4">
        <control-stages [currentStageNumber]="director?.currentStage"></control-stages>
    </div>

    <div class="margin-top-x10 text-title-small">Estimated Time Remaining</div>

    <div class="margin-top-x4">
        <time-remaining [date]="drawDate"></time-remaining>
    </div>

    <div class="margin-top-x4 text-info-small">*Proin in finibus libero. Morbi sit amet nulla eu tellus hendrerit auctor et id quam.</div>
</div>
