<div class="coupon-item-container">
    <div class="coupon-item">
        <div>
            <h3 class="text-title-small">Coupon Code</h3>
            <div class="margin-top-x3 coupon-code">{{ coupon.getEncodedSeed() }}</div>
        </div>

        <div class="margin-top-x8">
            <h3 class="text-title-small">Your Numbers</h3>

            <div class="margin-top-x4">
                <lottery-numbers [numbers]="coupon.getNumbers()" [columnCountMd]="6" [columnCountSm]="3"></lottery-numbers>
            </div>
        </div>

        <div class="separator-v">
            <div *ngIf="coupon.wins > 2">
                <app-button [isLoading]="isClaimingReward" [variant]="'primary'" (onClick)="claimReward()">Claim Reward</app-button>
            </div>

            <div *ngIf="coupon.wins === 1">
                <app-button [isLoading]="isReturningDeposit" [variant]="'secondary'" (onClick)="returnDeposit()">Return Deposit</app-button>
            </div>

            <div *ngIf="coupon.wins === 0">
                <app-button [disabled]="true" [variant]="'primary'">Not Drawn Yet</app-button>
            </div>
        </div>
    </div>
</div>
