@use '../../../../../../styles/abstracts/variables/layout.scss' as *;
@use '../../../../../../styles/abstracts/mixins' as mxns;

@use '../../../../../../styles/layout' as *;

.connect-wallet {
    width: calc(100vw - #{$spacing-x16});

    @include mxns.md {
        width: 22.5rem;
    }
}

.connect-wallet-list {
    > div {
        &:not(:first-child) {
            @extend .margin-top-x4;
        }

        > app-button > button.button {
            padding: 0 !important;
        }
    }
}

.connect-wallet-button-content {
    > img {
        max-height: 36px;
    }
}
