<section class="welcome-view-container">
    <div class="container">
        <div class="row welcome-view">
          <div class="welcome-view-left">
              <h2 class="font-size-6 text-shadow welcome-view-title">Praesent Porta</h2>

              <div class="text-shadow welcome-view-info">
                  <p>
                      Proin in finibus libero. Morbi sit amet nulla eu tellus hendrerit auctor et id quam. Sed metus diam, mollis vitae rhoncus vitae,
                      tincidunt at dolor. Suspendisse a vulputate massa.
                  </p>
              </div>

              <div class="margin-top-x17 welcome-view-left-buttons">
                  <app-button [variant]="'secondary'" [routerLink]="'play'">Play Now</app-button>
                  <app-button>How It Works</app-button>
              </div>
          </div>

          <div class="welcome-view-right">
              <img class="welcome-view-image" src="../../../../assets/images/justluckit-play-card-3d.png" alt="Just Luck It">
          </div>
        </div>
    </div>
</section>
<div id="welcome-view-shape-divider">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 48" width="100%" height="3rem" preserveAspectRatio="none"><path fill="#00CC33" fill-rule="evenodd" d="M1440 0c-240 32-480 48-720 48S240 32 0 0h1440z"/></svg>
</div>
