@use '../../../../styles/abstracts/variables/colors'as *;
@use '../../../../styles/abstracts/variables/layout'as *;
@use '../../../../styles/abstracts/mixins/grid'as mxns;

.welcome-view-container {
    background: $app-yellow-green-radial-gradient-welcome;
}

.welcome-view-left,
.welcome-view-right {
    width: 100%;
    padding: 0 $spacing-x4;

    @include mxns.md {
        width: 50%;
    }
}

.welcome-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-view-left {
    order: 2;
    text-align: center;

    @include mxns.md {
        order: 1;
        text-align: left;
    }

    .welcome-view-title,
    .welcome-view-info {
        color: white;
    }

    .welcome-view-info {
        margin-top: 24px;
        font-size: 24px;
        line-height: 40px;
    }

    .welcome-view-left-buttons {
        display: flex;
        align-items: center;
        gap: $spacing-x12;
        flex-wrap: wrap;
        justify-content: center;

        @include mxns.md {
            justify-content: unset;
        }

        > app-button {
            width: 100%;

            @include mxns.md {
                width: auto;
            }
        }
    }
}

.welcome-view-right {
    order: 1;

    @include mxns.md {
        order: 2;
    }

    > .welcome-view-image {
        max-width: 100%;
    }
}
