<section class="welcome-view-container">
    <div class="container">
        <div class="row welcome-view">
            <div class="welcome-view-left">
                <h2 class="font-size-6 text-shadow welcome-view-title">
                    Trust The Butterfly
                </h2>

                <div class="text-shadow welcome-view-info">
                    <p>
                        Fortuna called and we answered. Butterfly 6/49 involves
                        only luck. It cannot be manipulated and no one can
                        predict the winning numbers, even the system itself.
                    </p>
                </div>

                <div class="margin-top-x17 welcome-view-left-buttons">
                    <app-button [variant]="'secondary'" [routerLink]="'play'">Play Now</app-button>
                    <app-button [routerLink]="'how-it-works'">How It Works</app-button>
                </div>
            </div>

            <div class="welcome-view-right">
                <img class="welcome-view-image-background"
                     src="../../../../assets/images/justluckit-play-card-background@1x.jpg"
                     srcset="
                            ../../../../assets/images/justluckit-play-card-background@1x.jpg 1x,
                            ../../../../assets/images/justluckit-play-card-background@2x.jpg 2x
                        "
                     alt=""
                />
                <img class="welcome-view-image"
                     src="../../../../assets/images/justluckit-play-card-3d@1x.png"
                     srcset="
                            ../../../../assets/images/justluckit-play-card-3d@1x.png 1x,
                            ../../../../assets/images/justluckit-play-card-3d@2x.png 2x
                        "
                     alt="Just Luck It"
                />
                <img class="welcome-view-image-foreground"
                     src="../../../../assets/images/justluckit-play-card-foreground@1x.jpg"
                     srcset="
                            ../../../../assets/images/justluckit-play-card-foreground@1x.jpg 1x,
                            ../../../../assets/images/justluckit-play-card-foreground@2x.jpg 2x
                        "
                     alt=""
                />
            </div>
        </div>
    </div>
</section>

<div>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 1440 48"
         width="100%"
         height="3rem"
         preserveAspectRatio="none"
    >
        <path fill="#00CC33"
              fill-rule="evenodd"
              d="M1440 0c-240 32-480 48-720 48S240 32 0 0h1440z"
        />
    </svg>
</div>
