@use '../../../../styles/variables/colors' as *;
@use '../../../../styles/variables/layout' as *;

.welcome-view-container {
    background: $app-yellow-green-radial-gradient;
}

.welcome-view-left, .welcome-view-right {
  width: 100%;
  padding: 0 $spacing-x4;
}

.welcome-view {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .welcome-view-left {
        .welcome-view-title, .welcome-view-info {
            color: white;
        }

        .welcome-view-info {
            margin-top: 24px;
            font-size: 24px;
            line-height: 40px;
        }

        .welcome-view-left-buttons {
            display: flex;
            align-items: center;
            gap: $spacing-x12;

            > app-button {

                &.full {
                  width: 100%;
                }
            }
        }
    }

    .welcome-view-right {

        > .welcome-view-image {
            max-width: 100%;
        }
    }
}

@media (min-width: $max-width-md){
  .welcome-view-left, .welcome-view-right {
    width: 50%;
  }
}
