@use './variables/layout' as *;

@for $i from 1 to 11 {
    .margin-top-x#{$i} {
        margin-top: $spacing-unit * $i;
    }

    padding-x#{$i} {
        padding: $spacing-unit * $i;
    }
}

.separator-v {
    margin-top: $spacing-x4;
    padding-top: $spacing-x4;
    border-top: 1px solid rgba(151, 151, 151, 0.24);
}
