@use './variables/layout' as *;

@for $i from 1 to 22 {
    .margin-top-x#{$i} {
        margin-top: $spacing-unit * $i;
    }

    padding-x#{$i} {
        padding: $spacing-unit * $i;
    }
}

.container {
    padding: $spacing-x16 $spacing-x4;
    margin: 0 auto;
    max-width: 1170px;
}

.row {
    flex-wrap: wrap;
    margin-inline-start: $spacing-x4 * (-1);
    margin-inline-end: $spacing-x4 * (-1);
    max-width: 100%;
}

.transparent-content {
    opacity: 0;
}

.separator-v {
    margin-top: $spacing-x8;
    padding-top: $spacing-x8;
    border-top: 1px solid rgba(151, 151, 151, 0.24);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
