@use './variables/colors' as *;

html {
  font-size: 100%;
}

html,
body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

body {
  font-size: 1rem;
}

p:not(:first-child) {
  margin-top: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexend", sans-serif;
  font-weight: 600;
}

.font-size-0 {
  font-size: 0.8rem;
  line-height: 1.25rem;
}

.font-size-1 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-size-2 {
  font-size: 1.25rem;
  line-height: 2rem;
}

.font-size-3 {
  font-size: 1.563rem;
  line-height: 2.5rem;
}

.font-size-4 {
  font-size: 1.953rem;
  line-height: 3rem;
}

.font-size-5 {
  font-size: 2.441rem;
  line-height: 3.75rem;
}

.font-size-6 {
  font-size: 3.052rem;
  line-height: 4.75rem;
}

.font-size-7 {
  font-size: 3.815rem;
  line-height: 5.75rem;
}

.font-size-8 {
  font-size: 4.768rem;
  line-height: 7.25rem;
}

.text-shadow {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

// .font-secondary {
//   font-family: "Lexend", sans-serif;
//   font-weight: 600;
// }

.text-title {
    color: #545454;
    font-size: 25px;
    line-height: 36px;
    text-align: center;

    &.highlighted {
        color: $app-color-green;
    }

    &.highlighted-gradient {
        background: linear-gradient(0.25turn,  $app-color-green, $app-color-green-light);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.text-title-big {
    @extend .text-title;
    font-size: 50px;
    line-height: 76px;
}

.text-title-small {
    color: #747474;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.text-info {
    color: #404040;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}

.text-info-small {
    @extend .text-info;

    font-size: 16px;
    line-height: 24px;
}
