@use './abstracts/variables/colors' as *;
@use './abstracts/variables/typography' as *;
@use './abstracts/mixins' as mxns;
@use './abstracts/placeholders/typography' as *;

@use './fonts' as *;

html {
    font-size: 100%;
}

html,
body {
    color: $app-text-color-body;
    font-family: $font-family-primary;
    font-weight: 400;
    line-height: 1.5rem;
}

body {
    font-size: 1rem;
}

p:not(:first-child) {
    margin-top: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %heading;
}

.text-shadow {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.text-title {
    color: #545454;
    text-align: center;

    &.highlighted {
        @extend %font-size-4;
        @extend %font-size-md-6;
        @extend %heading;

        color: $app-color-green;
        font-weight: 600;
    }

    &.highlighted-gradient {
        background: linear-gradient(0.25turn, $app-color-green, $app-color-green-light);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.text-title-big {
    @extend .text-title;

    font-size: 50px;
    line-height: 76px;
}

.text-title-small {
    @extend %font-size-1;
}

.text-title-xsmall {
    @extend %font-size-0;
    @extend %font-size-md-1;
}

.text-title-small, .text-title-xsmall {
    color: #747474;
    letter-spacing: $letter-spacing-default;
    text-transform: uppercase;
    text-align: center;
}

.text-info {
    @extend .font-size-2;

    text-align: center;
}

.text-info-small {
    @extend .text-info;

    font-size: 16px;
    line-height: 24px;
}

.coupon-code {
    @extend %font-size-2;
    @extend %font-size-md-3;

    color: $app-color-green;
    text-align: center;
    font-weight: 600;
}
