@use '../../../../../styles/abstracts/variables' as vars;
@use '../../../../../styles/abstracts/mixins' as mxns;

:host {
    position: relative;
    z-index: vars.$app-modal-z-index;
}

.modal-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.62);
    z-index: vars.$app-modal-z-index;

    .modal {
        background-color: #f2f2f2;
        padding: vars.$spacing-x8 vars.$spacing-x4;
        max-height: calc(100% - #{vars.$spacing-x8});
        overflow-y: auto;

        @include mxns.md {
            max-width: calc(100vw - #{vars.$spacing-x8});
        }
    }
}
