@use '../../../../../styles/abstracts/variables/layout' as *;
@use '../../../../../styles/abstracts/mixins' as mxns;

.modal-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.62);

    .modal {
        background-color: #f2f2f2;
        padding: $spacing-x8 $spacing-x4;
        max-height: calc(100% - #{$spacing-x8});
        overflow-y: auto;

        @include mxns.md {
            max-width: calc(100vw - #{$spacing-x8});
        }
    }
}
