@use '../../../../../styles/abstracts/variables' as vars;

.button {
    position: relative;
    display: flex;
    align-items: center;
    color: vars.$app-text-color-body;
    font-family: 'Lexend', sans-serif;
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: vars.$letter-spacing-default;
    text-transform: uppercase;
    width: 100%;
    padding: 0.8em 2em;
    border-radius: 9999px;
    gap: vars.$spacing-x2;
    border: none;
    box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.34);

    &.button-primary {
        color: #1f1f1f;
        background: vars.$app-yellow-green-radial-gradient-2;
    }

    &.button-secondary {
        background: vars.$app-solana-bg-light;
    }

    &.button-default {
        background-color: white;
    }

    &.button-danger {
        color: white;
        background-color: vars.$app-color-red;
    }

    &:disabled {
        opacity: 0.6;
    }

    &:enabled {
        cursor: pointer;

        &:hover {
            &.button-primary {
                background: vars.$app-yellow-green-radial-gradient-hover;
            }

            &.button-secondary {
                background: darken(vars.$app-solana-bg-light, 2%);
            }

            &.button-default {
                background: darken(white, 2%);
            }

            &.button-danger {
                background: lighten(vars.$app-color-red, 10%);
            }
        }
    }

    .button-content {
        flex: 1;
        min-width: 125px;
    }

    .button-loading-indicator {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
