@use '../../../../../styles/variables/colors' as *;
@use '../../../../../styles/variables/layout' as *;

$border-radius: 24px;

.button {
    position: relative;
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    padding: 0 25px;
    border-radius: $border-radius;
    gap: $spacing-x2;
    border: none;
    box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.34);

    &.button-primary {
        background: $app-yellow-green-radial-gradient;
    }

    &.button-secondary {
        background: $app-color-yellow;
    }

    &.button-default {
        background-color: white;
    }

    &:enabled {
        cursor: pointer;

        &:hover {
            &.button-primary {
                background: $app-yellow-green-radial-gradient-hover;
            }

            &.button-secondary {
                background: darken($app-color-yellow, 2%);
            }

            &.button-default {
                background: darken(white, 2%);
            }
        }
    }

    .button-loading-indicator {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius;
    }

    .button-content {
        flex: 1;
        min-width: 125px;
        font-size: 15px;
        letter-spacing: 1.88px;
        text-transform: uppercase;
    }
}
