<div class="my-coupons-container">
    <div class="container my-coupons">
        <div>
            <h2 class="text-title font-size-3">Check Your Coupon</h2>

            <div class="margin-top-x8">
                <connect-wallet-button></connect-wallet-button>
            </div>

            <div class="margin-top-x8">
                <app-search-input [placeholder]="'Enter your coupon code and then press enter'"
                                  [disabled]="walletPublicKey === null"
                                  (onChange)="onSearchTextChange($event)"
                                  (onSearch)="searchCouponByCode($event)">
                </app-search-input>
            </div>
        </div>

        <div *ngIf="isLoading" class="margin-top-x12 flex-center">
            <app-loading-indicator-icon></app-loading-indicator-icon>
        </div>

        <ng-container *ngIf="!isLoading">
            <div *ngIf="searchText && searchedCoupon" class="margin-top-x12">
                <coupon-item [coupon]="searchedCoupon"></coupon-item>
            </div>

            <div *ngIf="allCoupons && !searchText" class="margin-top-x12 my-coupons-list">
                <div *ngFor="let coupon of allCoupons">
                    <coupon-item [coupon]="coupon"></coupon-item>
                </div>
            </div>
        </ng-container>
    </div>
</div>
