@use '../../../../../styles/variables/colors' as *;
@use '../../../../../styles/variables/layout' as *;

.my-coupons-container {
    background-color: $app-color-bg-light;

    .my-coupons {
        max-width: 768px;
    }
}

.my-coupons-list {
    > *:not(:first-child) {
        margin-top: $spacing-x8;
    }
}
