<div class="text-title highlighted">Success</div>

<div class="margin-top-x4 text-info">
    Coupon registered. To increase your odds, play more.
</div>

<div class="margin-top-x8">
    <div class="text-title-small">Coupon Code</div>
    <div class="margin-top-x3 coupon-code">{{ confirmationCode }}</div>
</div>

<div class="margin-top-x8">
    <div class="text-title-small">Your Numbers</div>

    <div class="margin-top-x4">
        <lottery-numbers [numbers]="selectedNumbers" [columnCountMd]="6" [columnCountSm]="3"></lottery-numbers>
    </div>
</div>

<div class="margin-top-x8">
    <app-button [variant]="'secondary'" (onClick)="finalize()">Awesome</app-button>
</div>
