<div class="text-title highlighted">Success</div>

<div class="margin-top-x4 text-info">
    Proin in finibus libero. Morbi sit amet nulla eu tellus hendrerit auctor et id quam. Sed metus diam, mollis vitae rhoncus vitae, tincidunt at
    dolor. Suspendisse a vulputate massa. Nullam pulvinar et est eu imperdiet.
</div>

<div class="margin-top-x4">
    <div class="text-title-small">Coupon Code</div>
    <div class="margin-top-x3 text-title highlighted">{{ confirmationCode }}</div>
</div>

<div class="margin-top-x4">
    <div class="text-title-small">Your Numbers</div>

    <div class="margin-top-x2">
        <lottery-numbers [numbers]="selectedNumbers" [columnCountMd]="6" [columnCountSm]="3"></lottery-numbers>
    </div>
</div>

<div class="margin-top-x4">
    <app-button [variant]="'secondary'" (onClick)="finalize()">Close Dialog</app-button>
</div>
