$spacing-unit: 8px;

$spacing-x1: $spacing-unit * 1;
$spacing-x2: $spacing-unit * 2;
$spacing-x3: $spacing-unit * 3;
$spacing-x4: $spacing-unit * 4;
$spacing-x6: $spacing-unit * 6;
$spacing-x8: $spacing-unit * 8;

$max-width-sm: 480px;
