$spacing-unit: 0.25rem;

$spacing-x1: $spacing-unit * 1;
$spacing-x2: $spacing-unit * 2;
$spacing-x4: $spacing-unit * 4;
$spacing-x6: $spacing-unit * 6;
$spacing-x8: $spacing-unit * 8;
$spacing-x12: $spacing-unit * 12;
$spacing-x16: $spacing-unit * 16;

$max-width-sm: $spacing-unit * 120;
