<div class="coupon-item-container">
    <div class="coupon-item">
        <div>
            <div class="text-title-small">Coupon Code</div>
            <div class="margin-top-x3 text-title highlighted">seed</div>
        </div>

        <div class="margin-top-x4">
            <div class="margin-top-x4 text-title-small">Your Numbers</div>

            <div class="margin-top-x2">
                <lottery-numbers [numbers]="coupon.getNumbers()" [columnCountMd]="6" [columnCountSm]="3"></lottery-numbers>
            </div>
        </div>
    </div>
</div>
