@use '../../../../../../styles/abstracts/variables/colors' as *;
@use '../../../../../../styles/abstracts/variables/layout' as *;
@use '../../../../../../styles/abstracts/placeholders/typography' as *;

.coupon-item-container {
    padding: $spacing-x6 $spacing-x8;
    background-color: white;
    box-shadow: 0 30px 30px -15px rgba(0, 0, 0, 0.21);

    .coupon-item {
        margin: 0 auto;
        max-width: 420px;
    }
}

.coupon-item__coupon-code {
    @extend %font-size-2;
    @extend %font-size-md-3;

    color: $app-color-green;
    text-align: center;
    font-weight: 600;
}
