<div class="container">
    <h2 class="text-title font-size-5 highlighted-gradient">Draw Now</h2>

    <div class="margin-top-x4 text-info">
        Proin in finibus libero. Morbi sit amet nulla eu tellus hendrerit auctor et id quam. Sed metus diam, mollis vitae rhoncus vitae, tincidunt at
        dolor.
    </div>

    <div class="margin-top-x12 draw-now-buttons">
        <div>
            <connect-wallet-button></connect-wallet-button>
        </div>

        <div class="margin-top-x12">
            <app-button [variant]="'primary'" [disabled]="!canDrawLottery" [isLoading]="isLoading" (onClick)="draw()">Draw</app-button>
        </div>
    </div>
</div>
