@use '../../../../../styles/abstracts/variables/layout' as *;
@use '../../../../../styles/abstracts/mixins/grid' as mxns;

.lottery-numbers {
    display: grid;
    grid-gap: $spacing-x4;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(2, min-content);

    @include mxns.md {
        grid-template-columns: repeat(6, min-content);
    }

    > div {
        display: inline-block;
        justify-self: center;
        align-self: center;
    }
}

.lottery-numbers-height-placeholder {
    opacity: 0;
}
