<div class="control-stages">
    <control-stage-item [isCompleted]="currentStageNumber !== undefined && currentStageNumber > 1" [stageNumber]="1"></control-stage-item>
    <div class="control-stage-separator"></div>
    <control-stage-item [isCompleted]="currentStageNumber !== undefined && currentStageNumber > 2" [stageNumber]="2"></control-stage-item>
    <div class="control-stage-separator"></div>
    <control-stage-item [isCompleted]="currentStageNumber !== undefined && currentStageNumber > 3" [stageNumber]="3"></control-stage-item>
    <div class="control-stage-separator"></div>
    <control-stage-item [isCompleted]="currentStageNumber !== undefined && currentStageNumber > 4" [stageNumber]="4"></control-stage-item>
</div>
