@use '../../../../../styles/abstracts/variables' as vars;

.control-stage-separator {
    width: 75px;
    height: 1px;
    margin: 0 vars.$spacing-x2;
    background-color: vars.$app-color-green-light;

    &.disabled {
        filter: saturate(0);
        opacity: 0.62;
    }
}
