<div class="control-stages">
    <control-stage-item [isCompleted]="true" [stageNumber]="1"></control-stage-item>
    <div class="control-stage-separator"></div>
    <control-stage-item [isCompleted]="true" [stageNumber]="2"></control-stage-item>
    <div class="control-stage-separator"></div>
    <control-stage-item [isCompleted]="false" [stageNumber]="3"></control-stage-item>
    <div class="control-stage-separator"></div>
    <control-stage-item [isCompleted]="false" [stageNumber]="4"></control-stage-item>
</div>
