<div class="container">
    <h2 class="text-title font-size-5 highlighted-gradient">How It Works</h2>

    <div class="how-it-works__section">
        <div class="how-it-works__section-icon">
            <action-step [stepNumber]="1" [fixedSize]="true"></action-step>
        </div>

        <div class="how-it-works__section-content">
            <h2 class="text-title highlighted">Go to the “Play” Screen</h2>

            <div class="text-info">
                <p>Press the “Play” button to go to the play screen.</p>
            </div>
        </div>
    </div>

    <div class="how-it-works__section">
        <div class="how-it-works__section-icon">
            <action-step [stepNumber]="2" [fixedSize]="true"></action-step>
        </div>

        <div class="how-it-works__section-content">
            <h2 class="text-title highlighted">Connect Your Wallet</h2>

            <div class="text-info">
                <p>
                    Connect your wallet using the “Connect Wallet” button, and select your wallet. To learn how to connect your wallet, check our FAQ section.
                </p>
            </div>
        </div>
    </div>

    <div class="how-it-works__section">
        <div class="how-it-works__section-icon">
            <action-step [stepNumber]="3" [fixedSize]="true"></action-step>
        </div>

        <div class="how-it-works__section-content">
            <h2 class="text-title highlighted">Play Your Numbers</h2>

            <div class="text-info">
                <p>Choose six numbers and press “Play”. Follow the confirmation dialogs to finish the transaction.</p>
            </div>
        </div>
    </div>

    <div class="how-it-works__section">
        <div class="how-it-works__section-icon">
            <action-step [stepNumber]="3" [fixedSize]="true"></action-step>
        </div>

        <div class="how-it-works__section-content">
            <h2 class="text-title highlighted">Claim Reward</h2>

            <div class="text-info">
                <p>
                    Once the “Draw Results” are announced, check your coupons from “My Coupons”. Press the “Claim Reward” button on the winner coupons or “Get Deposit” on the others to get your
                    deposit back. <a [routerLink]="'/faq'">Learn more…</a>
                </p>
            </div>
        </div>
    </div>
</div>
