<div class="card card--on-light-bg play-card">
    <div class="draw-date margin-top-x6">
        {{ record.drawDate | date: "longDate" }}
    </div>

    <div class="separator-v play-card-number-selection-container">
        <div class="play-card-number-selection-title">Choose 6 numbers</div>

        <div class="flex-center margin-top-x8">
            <div class="play-card-number-selection">
                <div *ngFor="let number of numbersList">
                    <lottery-number
                        [selected]="isNumberSelected(number)"
                        (click)="onSelectNumber(number)"
                    >
                        {{ number }}
                    </lottery-number>
                </div>
            </div>
        </div>
    </div>

    <div class="separator-v">
        <lottery-numbers
            [numbers]="selectedNumbers"
            [columnCountMd]="6"
            [columnCountSm]="3"
        ></lottery-numbers>
    </div>

    <div class="separator-v play-card-total-price">
        <div class="play-card-total-price-title">Total Price</div>
        <div class="play-card-total-price-value">
            <app-loading-indicator-icon
                *ngIf="isLoadingTerms"
                [size]="28"
            ></app-loading-indicator-icon>
            <span *ngIf="!isLoadingTerms">{{ terms?.totalPrice }} SOL</span>
        </div>
    </div>

    <div class="margin-top-x8 play-card-total-price">
        <div class="play-card-total-price-title">Deposit</div>
        <div class="play-card-total-price-value">
            <app-loading-indicator-icon
                *ngIf="isLoadingTerms"
                [size]="28"
            ></app-loading-indicator-icon>
            <span *ngIf="!isLoadingTerms">{{ terms?.deposit }} SOL</span>
        </div>
    </div>

    <div class="margin-top-x8 play-card-actions">
        <connect-wallet-button></connect-wallet-button>

        <app-button
            [disabled]="
                isLoadingTerms ||
                selectedNumbers.length !== 6 ||
                (isWalletConnected$ | async) !== true
            "
            [variant]="'primary'"
            (onClick)="showConfirmPlayLotteryModal.emit()"
        >
            Play
        </app-button>
    </div>
</div>
