@use '../../../../../../styles/abstracts/variables' as vars;
@use '../../../../../../styles/abstracts/mixins' as mxns;

@use '../../../../../../styles/layout' as *;

.play-card {
    width: 22rem;

    @include mxns.md {
        width: 26rem;
    }
}

.play-card-number-selection-container {
    .play-card-number-selection-title {
        font-size: 25px;
        line-height: 36px;
        color: vars.$app-color-pink;
        text-align: center;
    }

    .play-card-number-selection {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: vars.$spacing-x1;

        @include mxns.md {
            grid-gap: vars.$spacing-x4;
        }

        > div {
            display: inline-block;
            justify-self: center;
            align-self: center;
        }
    }
}

.play-card-total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    line-height: 36px;
    color: vars.$app-text-color-standard;
}

.play-card-actions {
    > app-button {
        display: block;
        width: 100%;

        &:not(:first-child) {
            @extend .margin-top-x8;
        }
    }
}
