@use '../../../../../../styles/abstracts/variables' as vars;
@use '../../../../../../styles/abstracts/mixins' as mxns;
@use '../../../../../../styles/abstracts/placeholders/typography' as *;

@use '../../../../../../styles/layout' as *;

.play-card {
    width: 22rem;

    @include mxns.md {
        width: 26rem;
    }
}

.draw-date {
    @extend %font-size-2;
    @extend %font-size-md-3;

    color: #2cfefa;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: vars.$letter-spacing-default;
}

.play-card-number-selection-container {
    .play-card-number-selection-title {
        color: vars.$app-solana-bg-light;
        font-size: 25px;
        line-height: 36px;
        text-align: center;
    }

    .play-card-number-selection {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: vars.$spacing-x1;

        @include mxns.md {
            grid-gap: vars.$spacing-x4;
        }

        > div {
            display: inline-block;
            justify-self: center;
            align-self: center;
        }
    }
}

.play-card-total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
    line-height: 36px;
    color: #d9d9d9;

    @include mxns.md {
        font-size: 25px;
    }
}

.play-card-actions {
    > app-button {
        display: block;
        width: 100%;

        &:not(:first-child) {
            @extend .margin-top-x8;
        }
    }
}
