<div class="remaining-time">
    <div class="remaining-time-section">
        <div class="remaining-time-number">4</div>
        <div class="margin-top-x2 text-title-small">Days</div>
    </div>

    <div class="remaining-time-section">
        <div class="remaining-time-number">12</div>
        <div class="margin-top-x2 text-title-small">Hours</div>
    </div>

    <div class="remaining-time-section">
        <div class="remaining-time-number">2</div>
        <div class="margin-top-x2 text-title-small">Minutes</div>
    </div>

    <div class="remaining-time-section">
        <div class="remaining-time-number">5</div>
        <div class="margin-top-x2 text-title-small">Seconds</div>
    </div>
</div>
