@use '../../../../../styles/abstracts/placeholders/typography' as *;
@use '../../../../../styles/abstracts/variables' as vars;

@use '../../../../../styles/fonts' as *;
@use '../../../../../styles/typography' as *;

.remaining-time {
    gap: vars.$spacing-x8;
}

.remaining-time-section {
    flex: 1;
    text-align: center;
    max-width: 120px;
}

.remaining-time-number {
    @extend %font-size-4;
    @extend %font-size-md-8;
    @extend %heading;

    color: vars.$app-solana-bg-dark;
}

.remaining-time--text {
    @extend %heading;
}
