<div class="flex-center remaining-time">
    <div class="remaining-time-section">
        <div class="remaining-time-number">{{ daysLeft }}</div>
        <div class="margin-top-x2 text-title-xsmall remaining-time--text">Days</div>
    </div>

    <div class="remaining-time-section">
        <div class="remaining-time-number">{{ hoursLeft }}</div>
        <div class="margin-top-x2 text-title-xsmall remaining-time--text">Hours</div>
    </div>

    <div class="remaining-time-section">
        <div class="remaining-time-number">{{ minutesLeft }}</div>
        <div class="margin-top-x2 text-title-xsmall remaining-time--text">Minutes</div>
    </div>

    <div class="remaining-time-section">
        <div class="remaining-time-number">{{ secondsLeft }}</div>
        <div class="margin-top-x2 text-title-xsmall remaining-time--text">Seconds</div>
    </div>
</div>
