<app-modal>
    <div content class="confirm-play-lottery">
        <confirm-play-lottery-step-1 *ngIf="confirmationCode === undefined"
                                     (confirmed)="confirmationCode = $event"
                                     (onCancel)="close.emit()">
        </confirm-play-lottery-step-1>

        <confirm-play-lottery-step-2 *ngIf="confirmationCode !== undefined"
                                     [confirmationCode]="confirmationCode"
                                     (onClose)="close.emit()">
        </confirm-play-lottery-step-2>
    </div>
</app-modal>
