@use '../../../../../../styles/variables/layout' as *;

.confirm-play-lottery {
    width: 360px;
}

.confirm-play-lottery-numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: $spacing-x1;

    > div {
        display: inline-block;
        justify-self: center;
        align-self: center;
    }
}
