@use '../../../../../../styles/variables/layout' as *;

.connect-wallet {
    width: 360px !important;
}

.connect-wallet-button-content {
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
        max-height: 36px;
    }
}

