<app-modal>
    <div content class="connect-wallet">
        <div class="text-title-small">Select Your Wallet</div>

        <div class="margin-top-x4">
            <div>
                <app-button (onClick)="onSelectWallet(WALLET_TYPE.phantom)">
                    <div class="connect-wallet-button-content">
                        <img src="../../../../../../assets/svgs/phantom-logo.svg" alt="Phantom Logo">
                        <img src="../../../../../../assets/svgs/phantom-text.svg" alt="Phantom Text">
                    </div>
                </app-button>
            </div>

            <div class="margin-top-x2">
                <app-button (onClick)="onSelectWallet(WALLET_TYPE.solflare)">
                    <div class="connect-wallet-button-content">
                        <img src="../../../../../../assets/svgs/solflare-logo.svg" alt="Solflare Logo">
                        <img src="../../../../../../assets/svgs/solflare-text.svg" alt="Solflare Text">
                    </div>
                </app-button>
            </div>

            <div class="margin-top-x2">
                <app-button (onClick)="onSelectWallet(WALLET_TYPE.slope)">
                    <div class="connect-wallet-button-content">
                        <img src="../../../../../../assets/svgs/slope-logo.svg" alt="Slope Logo">
                    </div>
                </app-button>
            </div>

            <div class="margin-top-x2">
                <app-button (onClick)="onSelectWallet(WALLET_TYPE.ledger)">
                    <div class="connect-wallet-button-content">
                        <img src="../../../../../../assets/svgs/ledger-logo.svg" alt="Ledger Logo">
                    </div>
                </app-button>
            </div>
        </div>
    </div>
</app-modal>
