<app-modal>
    <div content class="connect-wallet">
        <div *ngIf="selectedWallet" class="text-title-small">Selected Wallet: {{ selectedWallet.adapter.name }}</div>
        <div *ngIf="!selectedWallet" class="text-title-small">Select Your Wallet</div>

        <div *ngIf="wallets !== undefined" class="margin-top-x4">
            <div *ngFor="let wallet of wallets; let i = index"
                 [class.margin-top-x2]="i !== 0">
                <app-button [ngSwitch]="wallet.adapter.name"
                            [variant]="isWalletConnected && selectedWallet !== null && selectedWallet.adapter.name === wallet.adapter.name ? 'primary' : 'default'"
                            (onClick)="onSelectWallet(wallet)">
                    <div class="flex-center connect-wallet-button-content">
                        <img *ngSwitchCase="'Phantom'"
                             src="../../../../../../assets/logos/3rd-party/phantom-logo.svg"
                             alt="phantom-wallet">

                        <img *ngSwitchCase="'Solflare'"
                             src="../../../../../../assets/logos/3rd-party/solflare-logo.svg"
                             alt="solflare-wallet">

                        <img *ngSwitchCase="'Ledger'"
                             src="../../../../../../assets/logos/3rd-party/ledger-logo.svg"
                             alt="ledger-wallet">

                        <img *ngSwitchCase="'Slope'"
                             src="../../../../../../assets/logos/3rd-party/slope-logo.svg"
                             alt="slope-wallet">
                    </div>
                </app-button>
            </div>
        </div>

        <div class="separator-v">
            <app-button [variant]="'secondary'" (onClick)="close.emit()">Close Dialog</app-button>
        </div>
    </div>
</app-modal>
