@use '../../../../../styles/abstracts/placeholders/typography' as *;
@use '../../../../../styles/abstracts/variables/colors' as *;
@use '../../../../../styles/abstracts/variables/layout' as *;
@use '../../../../../styles/abstracts/functions' as fns;
@use '../../../../../styles/abstracts/mixins' as mxns;

@use '../../../../../styles/fonts' as *;

$md-scale: 2.5;

.action-step {
    width: fns.vertical-rhythm(10);
    height: fns.vertical-rhythm(10);
    border-radius: 50%;
    background: conic-gradient($app-color-green-light, $app-color-yellow);
    box-shadow: 0 30px 30px -15px rgba(0, 0, 0, 0.21);

    &.action-step--disabled {
        filter: saturate(0);
        opacity: 0.62;
    }

    &.action-step--fixed-size {
        $fixed-scale: 1.75;

        width: fns.vertical-rhythm(10 * $fixed-scale);
        height: fns.vertical-rhythm(10 * $fixed-scale);

        .action-step__number {
            @extend %font-size-4;

            width: fns.vertical-rhythm(7.6 * $fixed-scale);
            height: fns.vertical-rhythm(7.6 * $fixed-scale);
        }
    }

    > img {
        width: fns.vertical-rhythm(4.8);
    }

    @include mxns.md {
        width: fns.vertical-rhythm(10 * $md-scale);
        height: fns.vertical-rhythm(10 * $md-scale);

        > img {
            width: fns.vertical-rhythm(4.8 * $md-scale);
        }
    }
}

.action-step__number {
    @extend %font-size-2;
    @extend %font-size-md-5;

    font-weight: 600;
    width: fns.vertical-rhythm(7.6);
    height: fns.vertical-rhythm(7.6);
    background-color: white;
    border-radius: 50%;

    &.completed {
        background-color: transparent;
    }

    @include mxns.md {
        width: fns.vertical-rhythm(7.6 * $md-scale);
        height: fns.vertical-rhythm(7.6 * $md-scale);
    }
}
